<nav class="navbar row pe-3">
    <div class="col-8 ps-5">
        <a href="" [routerLink]="['/user/']">
            <img src="/assets/images/logo-light.png" alt="logo" class="logo">
        </a>
    </div>
    <ul class="nav-links col-4 d-flex align-items-center justify-content-end">
        <li><a [routerLink]="['/user/']" routerLinkActive="active-link">Home</a></li>
        <li><a href="#" routerLinkActive="active-link">Orders</a></li>
        <li><a [routerLink]="['/chats/']" routerLinkActive="active-link">Chats</a></li>
        <li><a (click)="isConfirmShow = !isConfirmShow">Logout <fa-icon class="ms-2" [icon]="faLogout"></fa-icon></a>
        </li>
        <button class="btn nav-link profile-pic p-0 d-flex justify-content-center align-items-center me-2 ms-3"
            (click)="isDialogVisible = !isDialogVisible" routerLinkActive="active-link">
            <ng-container *ngIf="profileImage; else defaultImage">
                <img [src]="profileImage" alt="Profile Image">
            </ng-container>
            <ng-template #defaultImage>
                <i class="pi pi-user"></i>
            </ng-template>
        </button>
    </ul>
</nav>
<p-dialog [(visible)]="isConfirmShow" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="d-flex gap-3 cheating-dialog">
        <i class="pi pi-sign-out fw-25 text-warning"></i>
        <h3>Logout</h3>
    </div>
    <p class="mt-5">
        Are you sure you want to logout?
    </p>
    <div class="w-100 d-flex justify-content-end p-3">
        <button icon="pi pi-check" (click)="isConfirmShow = false"
            class="btn btn-outline-dark rounded-2 dialog-button me-3">Cancel</button>
        <button (click)="logout()" icon="pi pi-check" type="button"
            class="btn btn-dark rounded-2 dialog-button">Logout</button>
    </div>
</p-dialog>
<p-dialog [(visible)]="isDialogVisible" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="gap-3">
        <div class="cheating-dialog d-flex gap-3 align-items-center">
            <div class="profile-container">
                <p-fileUpload #imageUpload (onSelect)="onImageSelect($event)" mode="basic" name="profilePic"
                    uploadLabel="" [accept]="allowedImageType" [customUpload]="true"
                    [maxFileSize]="imageSizeInBytes"></p-fileUpload>
                <div class="profile-image-container rounded-circle overflow-hidden">
                    <img [src]="profileImage" alt="Profile image" (error)="handleImageError()"
                        class="h-100 w-100 rounded-circle object-fit-cover text-center">
                </div>
            </div>
            <app-error-message [control]="userProfileForm.get('profileImage')" [validationMessages]="{
            invalidImageSize: message.invalidImageSize,
            invalidImageType: message.invalidImageType}">
            </app-error-message>
        </div>
        <h3>User Profile</h3>
    </div>
    <form [formGroup]="userProfileForm" (submit)="onSubmit()">
        <div class="form-input-control">
            <div class="form-group">
                <input class="input form-control" type="text" name="name" id="signup-name" formControlName="name"
                    placeholder="Name">
                <label class="required label">Name</label>
                <app-error-message [control]="userProfileForm.get('name')" [validationMessages]="{
                    minlength: message.minLength,
                    maxlength: message.emailMaxLength,
                    required: message.requiredField
                }"></app-error-message>
            </div>
        </div>
        <div class="d-flex profile-form gap-4">
            <div class="form-group">
                <input class="input form-control" type="email" name="email" id="signup-email" formControlName="email"
                    placeholder="Email">
            </div>
            <div class="form-group">
                <input appPhoneNumberCode class="input form-control" type="text" name="phoneNumber"
                    id="signup-phoneNumebr" formControlName="phoneNumber" placeholder="Phone Number">
                <label class="required label">Phone Number</label>
                <app-error-message [control]="userProfileForm.get('phoneNumber')" [validationMessages]="{
                    required: message.requiredField,
                    pattern: message.invalidPhoneNumber
            }"></app-error-message>
            </div>
        </div>
        <div class="d-flex profile-form gap-4">
            <div class="form-group">
                <input class="input form-control" type="text" name="buildingName" id="signup-buildingName"
                    formControlName="buildingName" placeholder="Building Name">
                <label class="required label">Building Name</label>
                <app-error-message [control]="userProfileForm.get('buildingName')" [validationMessages]="{
                    minlength: message.minLength,
                    maxlength: message.maxLengthFifty,
                    required: message.requiredField
                }"></app-error-message>
            </div>
            <div class="form-group">
                <input class="input form-control" type="text" name="streetAddress" id="signup-streetAddress"
                    formControlName="streetAddress" placeholder="Street Address">
                <label class="required label">Street Address</label>
                <app-error-message [control]="userProfileForm.get('streetAddress')" [validationMessages]="{
                    minlength: message.minLength,
                    maxlength: message.maxLengthFifty,
                    required: message.requiredField
                }"></app-error-message>
            </div>
        </div>
        <div class="d-flex gap-4 profile-form">
            <div class="form-group">
                <input class="input form-control" type="text" name="city" id="signup-city" formControlName="city"
                    placeholder="City">
                <label class="required label">City</label>
                <app-error-message [control]="userProfileForm.get('city')" [validationMessages]="{
                            minlength: message.minLength,
                            maxlength: message.maxLengthFifty,
                            required: message.requiredField
                        }"></app-error-message>
            </div>
            <div class="form-group">
                <input class="input form-control" type="text" name="state" id="signup-state" formControlName="state"
                    placeholder="State">
                <label class="required label">State</label>
                <app-error-message [control]="userProfileForm.get('state')" [validationMessages]="{
                        minlength: message.minLength,
                        maxlength: message.maxLengthFifty,
                        required: message.requiredField
                    }"></app-error-message>
            </div>
        </div>
        <div class="d-flex gap-4 profile-form">
            <div class="form-group">
                <input class="input form-control" type="text" name="country" id="signup-country"
                    formControlName="country" placeholder="Country">
                <label class="required label">Country</label>
                <app-error-message [control]="userProfileForm.get('country')" [validationMessages]="{
                        minlength: message.minLength,
                        maxlength: message.maxLengthFifty,
                        required: message.requiredField
                    }"></app-error-message>
            </div>
            <div class="form-group">
                <input appIndianPinCode class="input form-control" type="text" name="pinCode" id="signup-pinCode"
                    formControlName="pinCode" placeholder="Pin Code">
                <label class="required label">Pin Code</label>
                <app-error-message [control]="userProfileForm.get('pinCode')" [validationMessages]="{
                            minlength: message.minLength,
                            maxlength: message.maxLengthTen,
                            required: message.requiredField
                        }"></app-error-message>
            </div>
        </div>
        <div class="d-flex justify-content-center file-upload w-100 mt-3 gap-5">
            <button type="submit" [disabled]="userProfileForm.invalid || !userProfileForm.dirty"
                class="btn btn-outline-dark rounded-2 upload-button">Upload</button>
        </div>
    </form>
</p-dialog>
