.navbar {
    background: transparent;
    align-items: center;
    z-index: 1000;
}

.logo {
    width: 180px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}
