@import '../variables.scss';

.form-input-control {
    position: relative;
    margin-bottom: 20px;
    height: 70px;

    .input {
        width: 660px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid grey;
        border-radius: 8px;

        &::placeholder {
            visibility: hidden;
        }

        &:focus {
            outline: none;
            border-color: darkblue;

            &::placeholder {
                visibility: visible;
            }
        }
    }

    .eye-icon {
        text-decoration: none;
        color: grey;
        position: absolute;
        transform: translateX(390px) translateY(-30px);
        cursor: pointer;
    }

    .label {
        padding: 0 3px;
        pointer-events: none;
        position: absolute;
        left: 1rem;
        top: .75rem;
        color: grey;
        transition: 0.2s;
        transition-timing-function: ease;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        background: white;
    }

    input:focus+label,
    input:not(:placeholder-shown)+label {
        opacity: 1;
        transform: scale(0.75) translateY(-2.3rem) translateX(-1rem);
    }
}

.address-form {
    input {
        width: 200px !important;
    }
}

.search-input-control {
    position: relative;
    padding: 15px;

    input {
        height: 30px;
        border: none;
        padding: 15px;

        &:focus,
        &:active {
            outline: none;
            border: none;
        }
    }
}

.user-toggle {
    .p-button {
        width: 100px;
        height: 30px;
    }
}

.p-togglebutton.p-button.p-highlight {
    background-color: $dark-color !important;

    &:hover {
        background-color: $secondary-color;
    }
}
