<div class="d-flex justify-content-center pe-3 ps-3 w-100">
    <div class="d-flex flex-wrap pet-container gap-3">
        <div class="pet-card" *ngFor="let pet of pets">
            <div class="image-card">
                <img [src]="pet.images[0]" alt="{{pet.images[0]}}">
            </div>
            <div class="pet-info">
                <h3>{{pet.breed}}</h3>
                <p>Age: {{pet.age}}</p>
                <p>Price: {{pet.price}}</p>
                <p>Availability: {{pet.availability}}</p>
                <button (click)="onClick(pet.petId)" class="learn-more">Learn more</button>
            </div>
        </div>
    </div>
</div>